#result{
  display: none;
    color: #b3ff1a;
    font-size: 20px;
}
.btn :hover {
  background-color: black;
  color: #b3ff1a;
  border: 4px solid #b3ff1a;
}
.btn {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 25px;
}

body{
background-color: gray;
}
.jumbotron {
  color: #b3ff1a;
  font-weight: bolder;
}
.form-group {
  color: #b3ff1a;
  font-weight: bolder;
  font-size: 25px;
}
.jumbotron{
  background-color: gray;
  text-align: center;
}
#number {
align-self: center;
}
